<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Tickets List</p>
    <a class="btn-hero" href="/tickets/add">Add Ticket</a>
  </body>
</html>
